<!DOCTYPE html>
<html>
    <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css"/>
    </head>
    <body>
        <header>


  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">
          <img class="responsive-img" id="logo" src="{{url_for('static', filename='images/digi-meals-logo.png')}}"/>
          </a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">

        <li><a href="{{url_for('get_recipes')}}">HOME</a></li>
        <li><a href="{{url_for('get_utensils')}}">UTENSILS</a></li>
        <li><a href="{{url_for('add_recipe')}}">ADD RECIPE</a></li>
        <li><a href="{{url_for('add_utensils')}}">ADD UTENSILS</a></li>
       </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
    </div>
  </nav>
  <nav>



</header>
  </div>


{% block content%}

  {% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>
    $(document).ready(function(){
    $(".button-collapse").sideNav();
    $(document).ready(function(){
  /* autoplay materialize carousel credited to https://codepen.io/nubtehy/pen/WyXveP*/
  $('.carousel').carousel(
  {
    dist: 0,
    padding: 0,
    fullWidth: true,
    indicators: false,
    duration: 100,
  }
  );
});

autoplay()
function autoplay() {
    $('.carousel').carousel('next');
    setTimeout(autoplay, 4500);
}
    $('.collapsible').collapsible();
    $('select').formSelect();

});
</script>
<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2019 Digi-Meals
            <a class="grey-text text-lighten-4 right" href="{{url_for('add_utensils')}}">ADD UTENSILSMore Links</a>
            </div>
          </div>
        </footer>

   </body>
</html>
