{% extends 'base.html'%}
{% block content %}

<div class="carousel carousel-slider">
     {% for utensils in utensils %}
    <a class="carousel-item" href="#one!"><img src="{{utensils.image_link}}"></a>

     {% endfor %}
  </div>
<div class="row">
      {% for recipe in recipes %}
    <div class="col l3 m6">
      <div class="card">
        <div class="card-image size">
          <img src="{{recipe.image_link}}">
          <span class="card-title">{{recipe.recipe_name}}</span>
          <a class="btn-floating halfway-fab waves-effect waves-light pink"><i class="material-icons">favorite</i></a>
        </div>
        <div class="card-content">
          <p class="truncate">{{recipe.description}}</p>
           <!--<div class="col s3">
                   <a href ="{{url_for('delete_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn btn_small red">Delete Recipe</a>
                    <a href ="{{url_for('edit_recipe', recipe_id=recipe._id)}}"class="waves-effect waves-light btn btn_small green">Edit</a>

                </div>-->
        </div>
         <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
     {% endfor %}
  </div>

  {% endblock %}

